p {
  font-size: 24px;
}
.videos-container {
  text-align: center;
  padding: var(--rc-padding4);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: var(--rc-margin-top5);
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list iframe {
  width: 300px;
  height: 170px;
  border-radius: var(--rc-border-color3);
  border: none;
}

.video-title {
  margin-top: var(--rc-margin-top3);
  font-weight: bold;
  font-size: 24px;
  color: var(--tercer-color);
}

@media (min-width: 768px) {
  .video-list iframe {
    width: 560px;
    height: 315px;
  }
}
