.add-character-container {
  text-align: center;
  margin-top: var(--rc-margin-top5);
}

.add-character-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.add-character-form input,
.add-character-form select {
  width: 80%;
  padding: var(--rc-padding2);
  border: 1px solid #ccc;
  border-radius: var(--rc-border-radius1);
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}

.add-character-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--background-color3);
  cursor: pointer;
  text-align: center;
}

.preview-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--rc-border-radius2);
  margin-top: var(--rc-margin-top3);
}

img {
  width: 150px;
}

.add-character-form button {
  background-color: var(--background-color1);
  color: var(--segundo-color);
  padding: var(--rc-padding2) var(--rc-padding3);
  border: none;
  cursor: pointer;
  border-radius: var(--rc-border-radius1);
  font-size: 16px;
  width: 80%;
}

.add-character-form button:hover {
  background-color: var(--background-color2);
  color: var(--primer-color);
}
