body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: rgb(0, 183, 255);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

nav a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  height: 30px;
  font-size: x-large;
  border-radius: 8px;
}
nav a:hover {
  color: aqua;
}

h1 {
  text-align: center;
}
